body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(164, 177, 180);
}

h1{
    text-align: center;
    color: black;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: rgb(187, 190, 193);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset{
    border: 2px solid #0f100e;
    border-radius: 30px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: #eaeadd; 
}
legend{
    font-weight: bold;
    text-align: center;
    color: rgb(18, 17, 17);
}
label{
    display: block;
    margin-top: 10px;
    color: rgb(7, 7, 7);
}

input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #06090a;
    border-radius: 4px;
    box-sizing: border-box;
}


button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: rgba(236, 237, 243, 0.986);
}